body {
				margin: 0px;
				background-color: #000000;
				/* background-image: url(https://dl.dropbox.com/s/uzzetix6a4t2kkx/01.jpg?dl=0); */
				overflow: hidden;
			}

			div {
				position: absolute;
				z-index: 10;
				color: #fff;
				font-family: monospace;
				text-align: center;
				margin: 10px;
				width: 100%;
			}